html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type:  none;
  display: flex;
  justify-content: start;
}

li {
  padding-left: 10px;
}

li:hover {
  color: #BF0000;
}

.copywrite {
  display: flex;
  justify-content: start;
  padding: 0, auto;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.aboutMeTitle {
  padding-left: 20px;
}

.aboutMeBio {
  width: 55%;
  float: left;
  flex-wrap: wrap;
}

.aboutMeBio p {
  font-size: 24px;
}

.aboutme img {
  width: 300px;
  height: 300px;
}

.techstack {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;

}

.icon {
  flex-wrap: wrap;
  width: 7em;
}

.nameHeader {
  display: flex;
  justify-content: flex-end;
  
}

.name {
  width: 100%;
  flex-wrap: wrap;
  font-size: 15em;
  margin-bottom: 40px; 
}

.encountertracker {
  display: flex;
  justify-content: space-between;
}

.encountertrackertitle {
  margin-left: 20px;
  font-size: 1.5em;
}

.encountertrackerimg img {
  flex-wrap: wrap;
  float: right;
  width: 45em;
}

.encountertrackerdesc p {
  font-size: 1.3em;
  flex-wrap: wrap;
  float: inline;
  width: 30%;
  margin-bottom: 250px;
  margin-left: 20px;
}

.stayinsidetitle {
  margin-left: 20px;
  font-size: 1.5em;
}

.stayinsideimg img {
  flex-wrap: wrap;
  float: right;
  width: 45em;
}

.stayinsideimg::after {
  clear: both;
  display: table;
}

.stayinsidedesc p {
  font-size: 1.3em;
  flex-wrap: wrap;
  float: inline;
  width: 30%;
  margin-bottom: 300px;
  margin-left: 20px;
}
