html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type:  none;
  display: flex;
  justify-content: start;
}

li {
  padding-left: 1vw;
}

li:hover {
  color: #BF0000;
}

.copywrite {
  display: flex;
  justify-content: start;
  padding: 0, auto;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  padding-right: 1vw;
}

.aboutMeTitle {
  padding-left: 2vw;
}

.aboutMeTitle h3 {
  font-size: 3vw;
}

.aboutMeBio {
  /* width: 55%; */
  float: left;
  flex-wrap: wrap;
  margin-bottom: 1.5vh;
}

.aboutMeBio p {
  font-size: 2vw;
}

.resume {
  font-size: 2.8vw; 
  align-items: center;
  padding: 1.2vw;
  background-color: #BF0000;
  color: white;
  border-radius: 1.25vw;
}

.resume:hover {
  color: black;
}

.aboutme img {
  width: 28vw;
  margin-top: 3vh;
}

.techstack {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vw;
}

.icon {
  flex-wrap: wrap;
  width: 8vw;
}

.nameHeader {
  display: flex;
  justify-content: flex-end;
}

.name {
  width: 100%;
  flex-wrap: wrap;
  font-size: 20vw;
  margin-bottom: 5vh; 
}

.encountertracker {
  display: flex;
  justify-content: space-between;
}

.encountertrackertitle {
  margin-left: 1vw;
  font-size: 3vw;
}

.encountertrackerimg img {
  flex-wrap: wrap;
  float: right;
  width: 55vw;
  margin-right: 1vw;
}

.encountertrackerdesc p {
  font-size: 2vw;
  flex-wrap: wrap;
  float: inline;
  margin-bottom: 20vh;
  margin-left: 1vw;
}

.stayinsidetitle {
  margin-left: 1vw;
  font-size: 3vw;
}

.stayinsideimg img {
  flex-wrap: wrap;
  float: right;
  width: 55vw;
  margin-right: 1vw;
}

.stayinsideimg::after {
  clear: both;
  display: table;
}

.stayinsidedesc p {
  font-size: 2vw;
  flex-wrap: wrap;
  float: inline;
  margin-bottom: 20vh;
  margin-left: 1vw;
}

.breakBreadTitle {
  margin-left: 1vw;
  font-size: 3vw;
}

.breakBreadimg img {
  flex-wrap: wrap;
  float: right;
  width: 55vw;
  margin-right: 1vw;
}

.breakBreadimg::after {
  clear: both;
  display: table;
}

.breakBreadDesc p {
  font-size: 2vw;
  flex-wrap: wrap;
  float: inline;
  margin-bottom: 15vh;
  margin-left: 1vw;
}

.helpWantedTitle {
  margin-left: 1vw;
  font-size: 3vw;
}

.helpWantedimg img {
  flex-wrap: wrap;
  float: right;
  width: 55vw;
  margin-right: 1vw;
}

.helpWantedimg::after {
  clear: both;
  display: table;
}

.helpWantedDesc p {
  font-size: 2vw;
  flex-wrap: wrap;
  float: inline;
  margin-bottom: 20vh;
  margin-left: 1vw;
}
