@mixin for-phone-only {
  @media (max-width: 599px) { @content;}
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content;}
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content;}
}

$project-img-width: 75%;
$project-img-height: 40vw;
$background: #111317;

$text: #FFF6E5;
$alt-text: black;
$grey-text: #C1C7C6;
$section-padding: 10vh;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $background;
  color: $text;
}

.proj-img {
    width: $project-img-width;
    height: $project-img-height;
    justify-content: center;
}

.proj-desc {
    color: $alt-text;

    @include for-phone-only() {
      display: none;
    }
}

.learn-more {
    color: $grey-text;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.copywrite {
  display: flex;
  justify-content: start;
  padding: 0, auto;
}

.aboutme img {
  width: 25vw;
  float: right;

  @include for-phone-only() {
    width: 80vw;
    float: left;
  }
}

.aboutme {
  h1 {
    @include for-phone-only() {
      width: 15rem;
    }
  }
}

.techstack {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vw;

  @include for-phone-only() {
    display: none;
  }
}

.icon {
  flex-wrap: wrap;
  width: 8vw;
}

.nameHeader {
  display: flex;
}

.name {
  font-size: 20vw;
}

.socialMedia {
  width: 5vw;
  padding-right: 1vw;
  transition: 0.5s;

  @include for-phone-only() {
    width: 10vw;
  }

  @include for-tablet-portrait-up() {
    width: 5vw;
  }

  @include for-desktop-up() {
    width: 4vw;
  }

  &:hover {
    transform: translate(0, -0.5em)
  }
}

.letsConnect {
  color: $grey-text;
}

.flaticon {
  color: rgba(255, 246, 229, 0.25);
}