$project-img-width: 75%;
$project-img-height: 40vw;
$background: #111317;

$text: #FFF6E5;
$alt-text: black;
$grey-text: #C1C7C6;
$section-padding: 10vh;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $background;
  color: $text;
}

.proj-img {
    width: $project-img-width;
    height: $project-img-height;
    justify-content: center;
}

.proj-desc {
    color: $alt-text;
}

.learn-more {
    color: $grey-text;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navigation:hover {
  color: #BF0000;
} 

.copywrite {
  display: flex;
  justify-content: start;
  padding: 0, auto;
}

.resume {
  font-size: 2vw;
}

.resume:hover {
  background-color: #BF0000;
}

.aboutme img {
  width: 25vw;
  float: right;
}

.techstack {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vw;
}

.icon {
  flex-wrap: wrap;
  width: 8vw;
}

.nameHeader {
  display: flex;
}

.name {
  font-size: 20vw;
}

/* phone sizing */
@media only screen and (max-width: 550px) {
  .techstack {
    display: none;
  }
  .aboutme img {
    width: 35vw;
  }

  .proj-desc {
      display: none;
  }

}
